In [2]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

import numpy as np
import json

from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from google.cloud import bigquery
from witwidget.notebook.visualization import WitWidget, WitConfigBuilder

In [4]:
query="""
SELECT
  weight_pounds,
  is_male,
  mother_age,
  plurality,
  gestation_weeks
FROM
  publicdata.samples.natality
WHERE year > 2000
LIMIT 10000
"""
df = bigquery.Client().query(query).to_dataframe()
df.head()

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:407: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

   weight_pounds  is_male  mother_age  plurality  gestation_weeks
0       7.936641    False          30          1             38.0
1       8.624484     True          34          1             39.0
2       6.937947     True          23          1             39.0
3       6.935743     True          18          1             39.0
4       8.318041    False          23          1             40.0

In [5]:
df.describe()

       weight_pounds  mother_age     plurality  gestation_weeks
count    9995.000000  10000.0000  10000.000000      9885.000000
mean        7.263349     27.1810      1.035300        38.705311
std         1.315565      6.1537      0.196616         2.567750
min         0.507063     12.0000      1.000000        18.000000
25%         6.624891     22.0000      1.000000        38.000000
50%         7.374463     27.0000      1.000000        39.000000
75%         8.062305     32.0000      1.000000        40.000000
max        12.625874     48.0000      4.000000        47.000000

In [6]:
df['is_male'].value_counts()

True     5198
False    4802
Name: is_male, dtype: int64

In [7]:
df = df.dropna()
df = shuffle(df, random_state=2)

In [8]:
labels = df['weight_pounds']
data = df.drop(columns=['weight_pounds'])
data['is_male'] = data['is_male'].astype(int)

In [9]:
x,y = data,labels
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [10]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(len(x_train.iloc[0]),)),
    Dense(32, activation='relu'),
    Dense(1)]
)

In [11]:
model.compile(optimizer=tf.keras.optimizers.RMSprop(),
              loss=tf.keras.losses.MeanSquaredError(),
              metrics=['mae', 'mse'])

In [12]:
model.fit(x_train, y_train, epochs=10, validation_split=0.1)

Epoch 1/10
209/209 [==============================] - 2s 7ms/step - loss: 2.4285 - mae: 1.0973 - mse: 2.4285 - val_loss: 1.8638 - val_mae: 1.0706 - val_mse: 1.8638
Epoch 2/10
209/209 [==============================] - 1s 5ms/step - loss: 1.5671 - mae: 0.9855 - mse: 1.5671 - val_loss: 2.1528 - val_mae: 1.1835 - val_mse: 2.1528
Epoch 3/10
209/209 [==============================] - 1s 5ms/step - loss: 1.4588 - mae: 0.9509 - mse: 1.4588 - val_loss: 2.0386 - val_mae: 1.1434 - val_mse: 2.0386
Epoch 4/10
209/209 [==============================] - 1s 6ms/step - loss: 1.3925 - mae: 0.9222 - mse: 1.3925 - val_loss: 1.3661 - val_mae: 0.8979 - val_mse: 1.3661
Epoch 5/10
209/209 [==============================] - 1s 5ms/step - loss: 1.3456 - mae: 0.9066 - mse: 1.3456 - val_loss: 1.4445 - val_mae: 0.9280 - val_mse: 1.4445
Epoch 6/10
209/209 [==============================] - 1s 5ms/step - loss: 1.3455 - mae: 0.9082 - mse: 1.3455 - val_loss: 1.3357 - val_mae: 0.8876 - val_mse: 1.3357
Epoch 7/10
209/209 [==============================] - 1s 6ms/step - loss: 1.2958 - mae: 0.8823 - mse: 1.2958 - val_loss: 1.8162 - val_mae: 1.0626 - val_mse: 1.8162
Epoch 8/10
209/209 [==============================] - 1s 6ms/step - loss: 1.2782 - mae: 0.8798 - mse: 1.2782 - val_loss: 1.6306 - val_mae: 1.0008 - val_mse: 1.6306
Epoch 9/10
209/209 [==============================] - 1s 6ms/step - loss: 1.2632 - mae: 0.8782 - mse: 1.2632 - val_loss: 1.2502 - val_mae: 0.8510 - val_mse: 1.2502
Epoch 10/10
209/209 [==============================] - 1s 5ms/step - loss: 1.2420 - mae: 0.8664 - mse: 1.2420 - val_loss: 1.2664 - val_mae: 0.8545 - val_mse: 1.2664

In [13]:
num_examples = 10
predictions = model.predict(x_test[:num_examples])

In [14]:
for i in range(num_examples):
    print('Predicted val: ', predictions[i][0])
    print('Actual val: ',y_test.iloc[i])
    print()

Predicted val:  7.353687
Actual val:  8.99926953484

Predicted val:  3.6919498
Actual val:  4.5635688234

Predicted val:  7.3870745
Actual val:  7.98293850702

Predicted val:  7.3403506
Actual val:  9.0499758551

Predicted val:  7.2874393
Actual val:  8.12623897732

Predicted val:  5.7251697
Actual val:  4.9383546688

Predicted val:  7.520219
Actual val:  7.4406013425

Predicted val:  7.290961
Actual val:  6.393405598

Predicted val:  6.8947706
Actual val:  5.39912079638

Predicted val:  7.279081
Actual val:  7.054792384

In [15]:
git add demo.ipynb

SyntaxError: invalid syntax (<ipython-input-15-1970173f0bc3>, line 1)